@use '../primary/colors' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $dark-cyan;
	background-image: url('../images/bg-pattern-bottom.svg');
	background-size: cover;
	background-position: center;
	font-size: 1.8rem;
	font-family: 'Kumbh Sans', sans-serif;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 35rem;
	width: 32rem;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	.info {
		position: relative;
		padding-left: 1rem;
		top: -4rem;
		text-align: center;
		h2 {
			display: inline-block;
			padding-right: 0.5rem;
			font-size: 1.8rem;
		}
		.age {
			color: $dark-gray;
			font-weight: 400;
		}
		.name {
			color: $very-dark-cyan;
		}
	}
	span {
		text-align: center;
		position: relative;
		top: -3rem;
		color: $dark-grayish;
		font-size: 1.4rem;
	}
	.victor {
		display: flex;
		justify-content: center;
		position: relative;
		top: -5.5rem;
		img {
			max-width: 100%;
			height: auto;
			border: 5px solid white;
			border-radius: 50%;
		}
	}
	.line {
		position: relative;
		top: -.5rem;
		width: 100%;
		height: 0.01rem;
		background-color: $dark-gray;
	}
	.stats {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		padding-top: 2rem;
		ul {
			list-style: none;
			padding: 0;
			li {
				text-align: center;
				padding-right: 1.5rem;
				h2 {
					font-size: 1.8rem;
					color: $very-dark-cyan;
				}
				p {
					padding-top: 0.5rem;
					font-size: 1rem;
					letter-spacing: 2px;
					font-weight: bold;
					color: $dark-gray;
				}
			}
		}
	}
}

@media (min-width: 1440px) {
	.wrapper {
		height: 38rem;
		width: 35rem;
		.stats {
			padding-top: 3rem;
		}
		.line {
			top: .5rem;
		}
	}
}